.background-carousel {
  position: relative;
  padding: 70px 0 40px;
  overflow: hidden;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &__gradient {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-45deg, #4798ca70, #be345570, #00245470, #34bb9c70);
    background-size: 400% 400%;
    background-position: 0 50%;
    animation: gradient 15s ease infinite;
    z-index: 1;
  }

  &__vignette {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
    pointer-events: none;
    z-index: 2;
  }

  &__content {
    position: relative;
    z-index: 3;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
